/*******************************************************************************
**                          root (global) variables                           **
*******************************************************************************/
:root {
  /* fonts */
  --font_header: "VarelaRound";
  --font_text:   "AnonymousPro";
  --font_link:   "AnonymousPro";
  --font_cli:    "DejavuSansMono";

  /* colors */
  --clr_transparent: #FFFFFF00;
  --clr_white:       #FFFFFF;
  --clr_dark:        #222831;
  --clr_gold:        #FFD369;
  --clr_red:         #EF2929;
  --clr_blue:        #548CFF;
  --clr_gentoo:      #4A406B;
  --clr_cyan:        #9dcbff;

  /* cli colors */
  --clr_cli_root:        var(--clr_red);
  --clr_cli_user:        #4e9a06;
  --clr_cli_command:     var(--clr_white);
  --clr_cli_showcommand: #707070;
  --clr_cli_block:       orange;
  --clr_cli_dir:         var(--clr_blue);
  --clr_cli_file:        #70e000;

  /* gradient colors */
  --grd_to_right:  linear-gradient(90deg, var(--clr_transparent), var(--clr_fg));
  --grd_to_left:   linear-gradient(90deg, var(--clr_fg), var(--clr_transparent));
  --grd_symmetric: linear-gradient(90deg, var(--clr_transparent), var(--clr_fg), var(--clr_transparent));

  /* document colors */
  --clr_bg:             var(--clr_dark);
  --clr_fg:             var(--clr_gold);
  --clr_text:           var(--clr_white);
  --clr_text_important: var(--clr_red);
  --clr_link:           var(--clr_fg);
  --clr_comment:        var(--clr_cyan);

  /* roundness */
  --roundness: 0rem;

  /* margins */
  --list_margin_vertical: 1rem;
}
/*******************************************************************************
**                                custom fonts                                **
*******************************************************************************/
/* AnonymousPro (open source) */
@font-face {
  font-family: "AnonymousPro";
  src:         url("../fonts/AnonymousPro/AnonymousPro-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AnonymousPro";
  src:         url("../fonts/AnonymousPro/AnonymousPro-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "AnonymousPro";
  src:         url("../fonts/AnonymousPro/AnonymousPro-Italic.ttf") format("truetype");
  font-style:  italic;
}
@font-face {
  font-family: "AnonymousPro";
  src:         url("../fonts/AnonymousPro/AnonymousPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style:  italic;
}

/* DejavuSansMono (open source) */
@font-face {
  font-family: "DejavuSansMono";
  src:         url("../fonts/DejavuSansMono/DejaVuSansMono.ttf") format("truetype");
}
@font-face {
  font-family: "DejavuSansMono";
  src:         url("../fonts/DejavuSansMono/DejaVuSansMono-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "DejavuSansMono";
  src:         url("../fonts/DejavuSansMono/DejaVuSansMono-Oblique.ttf") format("truetype");
  font-style:  italic;
}
@font-face {
  font-family: "DejavuSansMono";
  src:         url("../fonts/DejavuSansMono/DejaVuSansMono-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style:  italic;
}

/* DejavuSansMono (open source) */
@font-face {
  font-family: "VarelaRound";
  src:         url("../fonts/VarelaRound/VarelaRound-Regular.ttf") format("truetype");
}
/*******************************************************************************
**                                  HTML body                                 **
*******************************************************************************/
body {
  /* margin and padding */
  /* (start divs on top left corner without margin and padding) */
  margin:  0rem;
  padding: 0rem;

  /* text */
  color:       var(--clr_text);
  font-family: var(--font_text);
  font-size:   100%;
  font-weight: normal;
  font-style:  normal;

  /* webpage background */
  background-color: var(--clr_bg);

  /* automatic heading numbering */
  counter-reset: num_h1 0;
}
/*******************************************************************************
**                                    div                                     **
*******************************************************************************/
div {
  /* remove browser margin from div elements */
  margin:  0rem;
  padding: 0rem;
}

div.document {
}

div.content {
  /* size and position */
  position: absolute;
  top:   0rem; left: 12%;
  width: calc(100% - 12%);

  /* border that does not break math having 2 divs next to each other */
  outline:        0rem solid var(--clr_fg);;
  outline-offset: -0rem;

  /* background */
  background-color: var(--clr_bg);
  /*background: var(--grd_to_right);*/
}

div.chapter {
}

div.navbar {
  /* size and position */
  width:    11%;
  position: fixed; /* sticky for some reason */
  top:      0rem;
  left:     0%;

  /* background */
  /*background-color: var(--clr_gentoo);*/
  /*background: var(--grd_to_right);*/
}
/*******************************************************************************
**                                  headings                                  **
*******************************************************************************/
h1::before {
  /* automatic heading numbering */
	/*content:           counter(num_h1)" ";*/
	/*counter-increment: num_h1 1;*/
}

h1 {
  /* automatic heading numbering */
  /*counter-reset: num_h2 0;*/

  /* margin and padding */
  margin-top:    0rem;
  margin-bottom: var(--list_margin_vertical);
  margin-left:   0rem;
  margin-right:  0rem;
  padding:       0rem;

  /* text */
  color:       var(--clr_fg);
  font-family: var(--font_header);
  font-size:   3rem;
  font-weight: bold;
  font-style:  normal;

  /* font background */
  background-image: var(--grd_to_right);

  /* border */
  border-radius: var(--roundness);
}

h2::before {
  /* automatic heading numbering */
	/*content:           counter(num_h1)"." counter(num_h2)" ";*/
	/*counter-increment: num_h2 1;*/
}

h2 {
  /* automatic heading numbering */
  /*counter-reset: num_h3 0;*/

  /* margin and padding */
  margin-top:    0rem;
  margin-bottom: var(--list_margin_vertical);
  margin-left:   0rem;
  margin-right:  0rem;
  padding:       0rem;

  /* text */
  color:       var(--clr_fg);
  font-family: var(--font_header);
  font-size:   2.25rem;
  font-weight: bold;
  font-style:  normal;

  /* font background */
  background-color: var(--clr_bg);

  /* colors */
  color: var(--clr_fg);
}

h3::before {
  /* automatic heading numbering */
	/*content:           counter(num_h1)"." counter(num_h2)"." counter(num_h3)" ";*/
	/*counter-increment: num_h3 1;*/
}

h3 {
  /* margin and padding */
  margin-top:    0rem;
  margin-bottom: var(--list_margin_vertical);
  margin-left:   0rem;
  margin-right:  0rem;
  padding:       0rem;

  /* text */
  color:       var(--clr_fg);
  font-family: var(--font_header);
  font-size:   1.5rem;
  font-weight: bold;
  font-style:  normal;

  /* font background */
  background-color: var(--clr_bg);

  /* colors */
  color: var(--clr_fg);
}
/*******************************************************************************
**                                     hr                                     **
*******************************************************************************/
hr {
  /* margin and padding */
  margin-top:    var(--list_margin_vertical);
  margin-bottom: var(--list_margin_vertical);
  margin-left:   0rem;
  margin-right:  0rem;
  padding:       0rem;

  /* (no) border */
  border-width:  0rem;
  border-style:  solid;
  border-color:  var(--clr_fg);
  border-radius: var(--roundness);

  /* border fill */
  height:             0.3rem;
  background-image:   var(--grd_to_right);
  /*background-color: var(--clr_fg);*/
}
/*******************************************************************************
**                                  paragraphs                                **
*******************************************************************************/
br {
  /* margin and padding */
  margin-top:    0rem;
  margin-bottom: calc(var(--list_margin_vertical)/3);
}

p {
  /* margin and padding */
  margin:  0rem;
  padding: 0rem;

  /* text */
  color:       var(--clr_text);
  font-family: var(--font_text);
  font-size:   1rem;
  font-weight: normal;
  font-style:  normal;

  display: inline;
}

p.bold {
  font-weight: bold;
}

p.italic {
  font-style: italic;
}

p.block {
  /* color */
  color: var(--clr_cli_block);
  font-weight: bold;
}

p.dir {
  /* color */
  color: var(--clr_cli_dir);
  font-weight: bold;
}

p.file {
  /* color */
  color: var(--clr_cli_file);
  font-weight: bold;
}
/*******************************************************************************
**                                   links                                    **
*******************************************************************************/
a {
  /* text */
  color:       var(--clr_link);
  font-family: var(--font_link);
  font-size:   1rem;
  font-weight: normal;
  font-style:  italic;
}
/*******************************************************************************
**                                   lists                                    **
*******************************************************************************/
ol {
  /* margin and padding */
  margin-top:    var(--list_margin_vertical);
  margin-bottom: var(--list_margin_vertical);
  margin-left:   1rem;
  margin-right:  0rem;
  padding:       0rem;

  /* text */
  color:       var(--clr_text);
  font-family: var(--font_text);
  font-size:   1rem;
  font-weight: normal;
  font-style:  normal;

  /* list style */
  list-style-position: inside;
  list-style-type:     decimal;
}

ol.sub {
  /* margin and padding */
  margin-left: 1.75rem;

  /* list style */
  list-style-type: upper-alpha;
}

ul {
  /* margin and padding */
  margin-top:    var(--list_margin_vertical);
  margin-bottom: var(--list_margin_vertical);
  margin-left:   1.75rem;
  margin-right:  0rem;
  padding:       0rem;

  /* text */
  color:       var(--clr_text);
  font-family: var(--font_text);
  font-size:   1rem;
  font-weight: normal;
  font-style:  normal;

  /* list style */
  list-style-position: inside;
  list-style-type:     square;
}

ul.sub {
  /* margin and padding */
  margin-left: 1.75rem;

  /* list style */
  list-style-type: disc;
}

ul.subsub {
  /* margin and padding */
  margin-left: 3.5rem;

  /* list style */
  list-style-type: disc;
}

li {
  /* margin and padding */
  margin-top:    var(--list_margin_vertical);
  margin-bottom: var(--list_margin_vertical);
  margin-left:   0rem;
  margin-right:  0rem
  padding:       0rem;

  /* text */
  color:       var(--clr_text);
  font-family: var(--font_text);
  font-size:   1rem;
  font-weight: normal;
  font-style:  normal;
}

.important {
  /* text */
  color: var(--clr_text_important);
}
/*******************************************************************************
**                                    code                                    **
*******************************************************************************/
div.text {
  /* margin and padding */
  /*margin-left: 1.5rem;*/

  /* border */
  display:          block;
  /*background-color: var(--clr_white);*/
  background-color: var(--clr_bg);
  border-radius:    var(--roundness);
}

div.code {
  /* margin and padding */
  /*margin-left: 1.5rem;*/

  /* border */
  display:          block;
  background-color: black;
  border-radius:    var(--roundness);
}

div.subcode {
  /* margin and padding */
  /*margin-left: 1rem;*/

  /* border */
  display:          block;
  background-color: black;
  border-radius:    var(--roundness);
}

code {
  /* text */
  color:       var(--clr_fg);
  font-family: var(--font_cli);
  font-size:   1rem;
  font-weight: normal;
  font-style:  normal;
}


code.text {
  /* dispaly */
  display: block;

  /* color */
  /*color: black;*/
  color:       var(--clr_fg);

}

code.comment {
  /* dispaly */
  display: block;

  /* color */
  color: var(--clr_comment);

  /* font */
  font-style: italic;
}

code.root {
  /* color */
  color: var(--clr_cli_root);
}

code.user {
  /* color */
  color: var(--clr_cli_user);
}

code.cmd {
  /* color */
  color: var(--clr_cli_command);
}

code.showcmd {
  /* color */
  color: var(--clr_cli_showcommand);
}

code.block {
  /* color */
  color: var(--clr_cli_block);
}

code.dir {
  /* color */
  color: var(--clr_cli_dir);
}

code.file {
  /* color */
  color: var(--clr_cli_file);
}

code.custom {
  /* font */
  font-style: italic;
}
/******************************* navigation bar *******************************/
a.navbar {
  /* display (fill whole line) */
  display: block;

  /* margin and padding */
  padding: 0rem;

  /* text */
  color:       var(--clr_bg);
  font-family: var(--font_header);
  font-size:   1rem;
  font-weight: bold;
  font-style:  normal;
  text-decoration: none; /* no underline */

  /* background */
  background-color: var(--clr_fg);;

  outline-color: black;
  outline-width: 1px;
  outline-style: solid;
}

a.navbar:hover {
  /* text */
  color: var(--clr_fg);

  /* background */
  background-color: var(--clr_bg);
}

a.navbar:active {
  /* text */
  color: var(--clr_fg);

  /* background */
  background-color: var(--clr_text_important);
}
